.flexForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0px 20px 0px;
    border-spacing: 20px 20px;
}

.formInput {
    padding-bottom: 10px;
}